.mobile-content,
.desktop-warning {
  display: none;
}

@media (max-width: 1199px) {
  .mobile-content {
    display: block;
  }
}

@media (min-width: 1200px) {
  .desktop-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: red;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
  }
}
