@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  margin: 0;
  overflow-x: hidden;
}
li, ul {
   list-style-type: none;
}
span{
    font-family: 'MontSerrat', sans-serif;

  font-weight: 500;
  color: white;
}
p{
    font-family: 'MontSerrat', sans-serif;

  font-weight: 400;
  color: white;
  font-size: 12px;
}
:root{
  --header-border:1px solid #e5e7eb;
  --header-padding: 0 1.5rem;
  --body-scanner-color: #262626;
  --secondary-border:1px solid #a2a7af;
  --dark-color: #1d1c1c;
  --soft-font-color: #6b7280;
  --btn-color: #4b5563;
}

mat-icon {
  color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
