<section class="scanned-codes">
  <h2 class="scanned-title">Códigos Escaneados</h2>
  <div class="last-scan">
    @for (item of barcodes; track $index) {
      <div class="scan-item" role="listitem">
        <div class="scan-info">
          <p class="barcode-text">{{ item.filename }}</p>
          <p class="scan-time">
            Escaneado em {{ item.createdAt | date: 'dd/MM/yyyy HH:mm' }}
          </p>
        </div>
        <div>

        <button
          mat-icon-button
          color="primary"
          aria-label="Deletar arquivo"
          (click)="deleteBarcode(item.filename)"
        >
          <mat-icon>delete</mat-icon>
        </button>

        <button
          mat-icon-button
          color="primary"
          aria-label="Visualizar códigos"
          (click)="openModal(item)"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        </div>
      </div>
    }
  </div>
</section>

@if (modalOpen) {
  <div
    class="modal-overlay"
    role="dialog"
    aria-modal="true"
    aria-labelledby="modalTitle"
  >
    <div class="modal">
      <h3 class="modal-title" id="modalTitle">Códigos Escaneados</h3>
      <ul class="barcode-list">
        @for (code of code; track $index) {
          <li class="barcode-item">
            {{ code }}
            <button
              class="copy-btn"
              mat-icon-button
              color="accent"
              aria-label="Copiar código"
              (click)="copyToClipboard(code)"
            >
              <mat-icon>content_copy</mat-icon>
            </button>
          </li>
        }
      </ul>
      <p class="scan-time">
        Escaneado em {{ selectedDate | date: 'dd/MM/yyyy HH:mm' }}
      </p>
      <button
        mat-flat-button
        color="primary"
        class="close-modal"
        (click)="closeModal()"
      >
        Fechar
      </button>
    </div>
  </div>
}

<app-footer-nav></app-footer-nav>
